@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* color selection */
:root{
    --primary-color: #0D1321;
    --secondary-color: rgb(13, 19, 33, 0.7);
    --shade-color: #4d4d4d;
}

/* common factor */
.font{
    font-family: "Azeret Mono", monospace;
}
.out_spacing{
    margin: 80px 120px;
    padding: 40px 50px;
}
.btn{
    border-radius: 8px;
    cursor: pointer;
}
.title{
    color: var(--primary-color);
    text-align: center;
}
.description{
    color: var(--secondary-color);
    margin: 24px 0;
    padding: 0 40px;
    text-align: center;
}


/* header part */
header
{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}
.download_btn{
    padding: 17px 24px;
}


/* banner part */
.banner{
    height: 560px;
    background-image: url("../assets/Hero-bg.png");
    background-size:contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 140px;
}
.banner .banner_img{
    height: 240px;
    width: 240px;
    margin: 26px 0;
}
.banner .banner_title{
    font-size: 40px;
}
.banner .banner_btn{
    background-color: black;
    padding: 21px 24px;
    border: none;
}
.banner .banner_btn a{
    text-decoration: none;
    color: white;
}


/* info part */
.info{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.info .info_box{
    background-color: white;
    border-radius: 8px;
    height: 200px;
    padding: 40px 20px;
    margin: 15px 0;
    display: flex;
    flex-direction: row-reverse;
}
.info .info_box .info_box_content2{
    width: 420px;
    margin-right: 220px;
}

.info .info_box .info_box_content1 img{
    width: 210px;
    height: 210px;
}
.info .info_box .info_box_title{
    font-size: 24px;
    color: var(--shade-color);
}
.info .info_box .info_box_description{
    color: var(--secondary-color);
    padding: 16px 0 32px;
}
.info .info_box .info_box_btn{
    color: var(--secondary-color);
    padding: 8px 4px;
    background-color: white;
    width: 120px;
    cursor: pointer;
}


/* inspiration part */
.inspiration .inspiration_audio{
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 20px;
}
.inspiration iframe{
    text-align: center;
    border-radius: 16px;
}


/* my current target part */
.curr_target .description{
    padding: 0 100px 30px;
}
.curr_target .curr_target_box{
    width: 25%;
    height: 250px;
    padding: 30px;
}

.curr_target .curr_target_bg1{
    background-color: rgba(255, 76, 30, 0.05);
}
.curr_target .curr_target_bg2{
    background-color: rgba(0, 76, 232, 0.05);
}
.curr_target .curr_target_bg3{
    background-color: rgba(255, 223, 0, 0.05);
}

.curr_target .curr_target_box .curr_box_title{
    padding: 10px;
}
.curr_target .curr_target_box .curr_box_description{
    padding: 10px;
}
.curr_target .curr_target_box .curr_target_button{
    padding: 10px;
}
.curr_target .curr_target_box .curr_target_button a{
    color: var(--primary-color);
}

.curr_target .curr_target_box_container{
    display: flex;
    justify-content: space-between;
}



/* my next target part */
.next_target .next_target_description{
    padding: 0 120px 30px;
}
.next_target .next_target_box .next_box_title{
padding: 10px;
}
.next_target .next_target_box .next_box_description{
    padding: 10px;
}
.next_target .next_target_box .next_box_button{
    padding: 10px;
}
.next_target .next_target_box .next_box_button a{
    color: var(--primary-color);
}

.next_target .next_target_box{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    margin-top: 15px;
    padding: 30px;
}



/* support section part */
.support{
    background-image: linear-gradient(
    0deg,
    rgb(16, 16, 16) -19.5%,
    rgba(16, 16, 16, 0) 100%
    ),url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    border-radius: 16px;
    margin: 0 160px 60px;
    padding: 60px 0;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.support .support_description{
    padding: 30px 0;
}
.support input{
    height: 20px;
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 8px;
}
.support button{
    height: 40px;
    width: 150px;
    padding: 10px;
    border: none;
}
.support ::placeholder{
    color: rgba(13, 19, 33, 0.4);
}
.support input, .support button{
    background-color: white;
}


/* footer part */
.footer_section{
    background-color: rgba(13, 19, 33, 0.03);
    padding: 30px 160px;
    display: flex;
    justify-content: space-between;
}
.footer_section .footer_icons .icon_middle{
    padding: 0 10px;
}